.app {
  padding: 100px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.section-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section-container:not(:first-child) {
    margin-top: 25px;
}
