.app {
  padding: 100px;
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

.section-container {
  margin-bottom: 50px;
}

.section-container:not(:first-child) {
    margin-top: 25px;
}

.amplify-flex.amplify-field.amplify-textfield {
  margin: 20px 20px 0 0;
}